<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo Manager</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <%= link_to "Home",root_path, class: "navbar-item" %>
            <%= link_to "Logout", destroy_user_session_path, class: "navbar-item", method: 'delete' %>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <p class="is-info"><%= notice %></p>
            <p class="is-danger"><%= alert %></p>
            <%= yield %>
        </div>
    </section>
  </body>
</html>
